<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>选择收货城市</title>
    <style>
        *{
            background-color: white;
            font-family: 新宋体;
            font-size: 25px;
        }
        h2 {
            color: #2e6da4;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
    <h2 style="color: black">热门城市</h2>
        <div class="col-sm-2">
            <span>上海</span>
            <span>北京</span>
            <span>天津</span>
            <span>杭州</span>
            <span>昆山</span>
            <span>南京</span>
            <span>宁波</span>
            <span>苏州</span>
            <span>无锡</span>
            <span>东莞</span>
            <span>佛山</span>
            <span>广州</span>
            <span>江门</span>
            <span>深圳</span>
            <span>珠海</span>
            <span>中山</span>
        </div>
        <h2>A</h2>
        <div class="list">
            <span>阿坝藏族羌族自治州</span>
            <span>安阳</span>
            <span>阿拉善</span>
            <span>安顺</span>
            <span>安庆</span>
            <span>鞍山</span>
        </div>
        <h2>B</h2>
        <div class="list">
            <span>滨州</span>
            <span>本溪</span>
            <span>白城</span>
            <span>巴中</span>
            <span>北京(郊区)</span>
            <span>巴彦淖尔</span>
            <span>保山</span>
            <span>北海</span>
            <span>白银</span>
            <span>百色</span>
            <span>蚌埠</span>
            <span>毕节</span>
            <span>保定</span>
            <span>北京</span>
            <span>包头</span>
            <span>白山</span>
        </div>
    </div>
</div>
</body>
</html>